[bumpversion]
current_version = 0.7.0
commit = True
tag = True

[bumpversion:file:repo_helper.yml]

[bumpversion:file:README.rst]
search = /v{current_version}
replace = /v{new_version}

[bumpversion:file:doc-source/index.rst]
search = :commits-since: v{current_version}
replace = :commits-since: v{new_version}

[bumpversion:file:attr_utils/__init__.py]
search = : str = "{current_version}"
replace = : str = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:.github/workflows/conda_ci.yml]
