coincidence>=0.1.0
coverage>=5.1
coverage-pyver-pragma>=0.0.6
domdf-python-tools[testing]>=2.0.1
iniconfig!=1.1.0,>=1.0.1
pytest>=6.0.0
pytest-benchmark>=3.2.3
pytest-cov>=2.8.1
pytest-mypy-plugins>=1.6.1
pytest-randomly>=3.3.1
pytest-timeout>=1.4.2
sdjson>=0.3.0
snapshottest>=0.6.0
sphinx-toolbox[testing]>=0.4.0
sphobjinv>=2.0.1
